/Java/intrachannel-account-ear/target
/Java/intrachannel-account-web/target
/Java/intrachannel-account-rest-interfaces/target
/Java/.idea
*.iml
.idea
*.ipr
*.iws

# Configuration&build files used by Eclipse
**/.project
**/.settings/
**/.classpath
**/bin/
**/target/